<!DOCTYPE html>
<html>
  <head>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
      @import "font-awesome";
    </style>

    <title>Austin Wedding Helpers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="your site description goes here" />
    <meta name="keywords" content="search, keywords, go, here" />
    <meta name="robots" content="index,follow" />



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>
  <body>
   <div id="flex-content-container">
     <nav class="navbar navbar-toggleable-md navbar-inverse ">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to 'Austin Wedding Helpers', root_path, class: 'navbar-brand' %>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item">

          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </div>
<br>
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <b>Services</b>
        <br />
        <%= link_to 'DJ', dj_path %>
        <br />
        <%= link_to 'Day of Cooridnation', coordinator_path %>
        <br>
        <%= link_to 'Bartenders and Helpers', '#' %>
        <br />
      </div>
      <div class="about col ">
        <b>About</b>
        <br />
        <%= link_to 'Team', '#' %>
        <br />
        <%= link_to 'Apply to work with Us', '#' %>
        <br />
      </div>
      <div class="contact col">
        <b>Contact</b>
        <br />
        Info@austinweddinghelpers.com
        <br />
        <i class="fa fa-mobile"></i>  512-750-6817
        <br />
        Social:
        <span class="fa fa-instagram"></span>
        <span class="fa fa-facebook-square"></span>
        <span class="fa fa-pintrest-square"></span>
        </div>
      </div>
</div>
</div>






  </body>

</html>
