<!DOCTYPE html>
<html>
  <head>
    <title>Austin Wedding Helpers</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <img>
      <%=image_tag("logo.png", class:"logo", alt: "Example Image")%>
      </img>

    </nav>


    <%= yield %>

  </body>
      <meta name="viewport" content="width=device-width, initial-scale=1">
</html>
